{% extends "partial/default.html" %}
{% set title = "Twig.js templating test" %}
{% set pageTitle = "Use Twig from the start!" %}
{% set benefits = ["Fast!", "Easy!", "Efficient!"] %}

{% block content %}
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam quis eligendi distinctio fugit, et perspiciatis aperiam quidem voluptatem odit asperiores culpa doloremque voluptatibus nisi minus. Cupiditate ut accusantium, doloribus quae!
{% endblock %}